@model Guid
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<div id="div_manchu">
    <img id="img_manchu" src="/media/images/manchu.png">
    <div id="div_controls">
        <img id="img_controls" src="/media/images/play.png">
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            var audioElement = document.createElement('audio');
            audioElement.setAttribute('src', '/media/audios/manchu.mp3');

            var visitId = null;
            var position = 0;

            $('#div_controls').bind("click", function () {
                if (!audioElement.paused) {
                    pause();
                } else {
                    play();
                }
            });

            audioElement.addEventListener('ended', function () {
                $.post('@Url.Action("Stop", "Visit")', { id: visitId, completed: true }, function (data) {

                });

                reset();
            });

            audioElement.addEventListener("timeupdate", function () {
                var current = getPosition();
                if (current > position) {
                    position = current;
                    $.post('@Url.Action("Update", "Visit")', { id: visitId, position: position }, function (data) { });
                }
            });

            function getPosition()
            {
                return Math.floor(audioElement.currentTime / 60);
            }

            function reset() {
                audioElement.currentTime = 0;
                position = 0;
                visitId = null;

                pause();
            }

            function play() {
                if (audioElement.currentTime == 0) {
                    $.post('@Url.Action("Create", "Visit")', { patientId: '@Model' }, function (data) {
                    visitId = data;
                });
                }

                audioElement.play();
                $('#img_controls').attr('src', '/media/images/pause.png');
            }

            function pause(){
                audioElement.pause();
                $('#img_controls').attr('src', '/media/images/play.png');

                $.post('@Url.Action("Pause", "Visit")', { id: visitId }, function (data) { });
            }

        });
    </script>
}