@model IEnumerable<PatientGridItemModel>

@Html.ActionLink("Create QR-Codes", "CreateQRCodes", "Image", null, null)

<div class="container">
    <h3 class="p-3 text-center">Blazor WebAssembly - Display a list of items</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>QR Code</th>
                <th>Visits</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model)
            {
                <tr>
                    <td>@patient.Id</td>
                    <td>@patient.Code</td>
                    <td><img height="200px" src="/media/codes/@(patient.Code).png" /></td>
                    <td>@Html.ActionLink("...", "Index", "Visit", new { code = patient.Code }, null)</td>
                </tr>
            }
        </tbody>
    </table>
</div>