body, html {
    height: calc(var(--vh, 1vh) * 100);
    max-width: calc(var(--vw, 1vw) * 100);
    max-height: calc(var(--vh, 1vh) * 100);
    width: calc(var(--vw, 1vw) * 100);
    margin: 0;
}

img {
    display: block;
}

#div_manchu #div_controls {
    position: absolute;
    top: 42%;
    height: 48%;
    width: 64%;
    left: 18%;
    margin: 0 auto;
}

#div_controls {
    background: url('../media/images/empty.png') no-repeat center;
    background-size: contain;
}

#div_manchu #div_controls #img_controls {
    height: 100%;
    width: 100%;
}

#img_controls {
    opacity: 1;
}

    #img_controls.playing:hover {
        opacity: 1;
        transition: opacity 1s linear;
    }

    #img_controls.playing:not(:hover) {
        opacity: 0;
        transition: opacity 1s linear;
    }

@media (max-aspect-ratio: 2746/3688) {
    #div_manchu #img_manchu {
        width: 100%;
        margin: 0 auto;
        max-height: 100%;
    }

    #div_manchu {
        position: relative;
        height: -webkit-fit-content;
        margin: 0 auto;
        width: 100%;
    }
}

@media (aspect-ratio: 2746/3687) {
    #div_manchu #img_manchu {
        height: 100%;
        margin: 0 auto;
        width: 100%;
    }

    #div_manchu {
        position: relative;
        height: 100%;
        margin: 0 auto;
        width: 100%;
    }
}

@media (min-aspect-ratio: 2746/3686) {
    #div_manchu #img_manchu {
        height: 100%;
        margin: 0 auto;
        max-width: 100%;
    }

    #div_manchu {
        position: relative;
        height: 100%;
        margin: 0 auto;
        width: -webkit-fit-content;
    }
}

@media (hover: none) and (pointer: coarse) {
    #img_controls.playing:active {
        opacity: 1;
        transition: opacity 1s linear;
    }

    #img_controls.playing:not(:active) {
        opacity: 0;
        transition: opacity 1s linear;
    }
}